



<div>
    <div class="text-center row w-100">
        <div class="col-lg-6 col-md-6 col-sm-12 mt-12">
            <form id="d" style="background-color: rgb(120, 102, 20);margin-top: 100px; border-radius: 20px;"
                class=" p-4 w-75 container " action="">
                <h1 style="color:white ; ">Sign Up</h1>

                <div class="mt-2 p-2">
                    <input id="acnum" name="acno" class="form-control mt-2 p-2" type="text" placeholder="Enter Acno">
                </div>


                <div class="mt-2 p-2">
                    <input id="u2" name="uname" class="form-control mt-2 p-2" type="text" placeholder="Enter Usrename">
                </div>

                <div class="mt-2 p-2">
                    <input id="p2" name="psw" class="form-control mt-2 p-2" type="password" placeholder="Enter Password">
                </div>

                <div class="mt-2 p-2">
                    <input id="cpsw" name="cpsw" class="form-control mt-2 p-2" type="password" placeholder="Confirm Password">
                </div>

                <button onclick="signup()" type="button" class="btn btn-outline-warning m-2">SignUp</button>
                
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-0 mt-0 p-4">
            <img id="d" style="height: 500px;" src="https://i.postimg.cc/Kz0tFX8k/kisspng-animation-bank-finance-illustration-flat-bank-5a8d5af65082f9-6596234615192133023298.jpg" alt="">
        </div>

    </div>
</div>

